*{
    box-sizing: border-box;
}
body
{
    overflow:fixed;
    display:flexbox;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width: 770px;
    height: 500px;
}
header
{
    background-color: aqua;
    text-align: center;
    font-size: 35px;
    color: black;
}
nav
{
    border: 2px ridge; 
    border-bottom: 2px salmon;
    float: left;
    width: 30%;
    height: 500px;
    background-color:gray;
    padding: 20px;
}
 ul{

padding: 0;
margin: 0;
width: 200px;
    list-style-type: none;    
}
li{
    font-size: large;
    margin: 80px;
}
li a{
    display: block;
    width: 60px;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover{

    color: yellow;
}

article
{
    float: left;
    padding: 20px;
    width: 100%;
    background-color: aquamarine;
    height: 200px;
}
footer
{
    background-color: bisque;
    padding: 20px;
    text-align: center;
    color: black;
}

